header span{
    display:inline-block;
    width:100%;
    text-align:right
}
header h1{
    text-align:center;
}
article{
    font-size:24px;
	text-align: justify;
}
article > section:nth-child(2) aside,
article > section:nth-child(4) aside{
	min-width:500px;
}
article > section:nth-child(2) figure,
article > section:nth-child(4) figure{
	min-width:500px;
}
article > section:nth-child(2) aside > p:nth-child(2),
article > section:nth-child(2) aside > p:nth-child(4){
	text-align:center;
	font-weight:bold;
}
article > section:nth-child(2),
article > section:nth-child(4){
    display:flex;
}
article > section:nth-child(3) > figure{
	text-align:center;
}
article > section:nth-child(5) > div{
    display:flex;
}
article > section:nth-child(5) > div:nth-child(1) aside{
	width:580px;
}
article > section:nth-child(5) > ol{
	text-align:center;
	list-style-position: inside;
}
article > section:nth-child(6){
    display:flex;
}
article > section:nth-child(6) aside{
	min-width:500px;
}
article > section:nth-child(7) > div{
    display:flex;
	justify-content:center;
}
article > section:nth-child(7) > p:nth-child(3){
	text-align:center;
}
article > section:nth-child(8) > div{
    display:flex;
	justify-content: space-between;
}
article > section:nth-child(8) > div .analysis-left,
article > section:nth-child(8) > div .analysis-right{
	width:500px;
}
article > section:nth-child(9) > figure{
    text-align:center;
}

article > section:nth-child(10){
    display:flex;
}
article > section:nth-child(11) figure{
   text-align:center;
}
figcaption{
	font-size:16px;
	font-weight:bold;
}
/*codes*/
pre.code {
    white-space: pre-wrap;
    line-height:0.8;
	width:400px;
}

pre.code::before {
    counter-reset: listing;
}

pre.code code {
    counter-increment: listing;
}

pre.code code::before {
    content: counter(listing) ". ";
    display: inline-block;
    padding-left: auto;
    margin-left: auto;
    text-align: right;
}

/*tables*/
table{
	width:500px;
}
tr{
	height:24px;
}
td{
	font-size: 20px;
}
td.cell-arr{
	width:260px;
}