body{
	margin:auto;
	width:92%
}
header span{
    display:inline-block;
    width:100%;
    text-align:right
}
header h1{
    text-align:center;
}
article{
    font-size:24px;
	text-align: justify;
}
article > section:nth-child(2),
article > section:nth-child(4){
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

article > section:nth-child(2) aside,
article > section:nth-child(4) aside{
	min-width:500px;
	max-width:800px;
}
article > section:nth-child(2) figure,
article > section:nth-child(4) figure{
	min-width:500px;
}
article > section:nth-child(2) aside > p:nth-child(2),
article > section:nth-child(2) aside > p:nth-child(4){
	text-align:center;
	font-weight:bold;
}
article > section:nth-child(2) aside > figure{
	text-align:center;
}

article > section:nth-child(3) > figure{
	text-align:center;
}
article > section:nth-child(5) > div{
    display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
article > section:nth-child(5) > div:nth-child(2) aside{
	 display:flex;
	flex-direction:column;
}
article > section:nth-child(5) > ol{
	text-align:center;
	list-style-position: inside;
}
article > section:nth-child(6){
    display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
article > section:nth-child(6) aside{
	min-width:500px;
	max-width:800px;
}
article > section:nth-child(7) > div{
    display:flex;
	justify-content:center;
}
article > section:nth-child(7) > p:nth-child(3){
	text-align:center;
}
article > section:nth-child(8) > div{
    display:flex;
	justify-content: space-between;
	margin-bottom:60px;
}
article > section:nth-child(8) > div .analysis-left,
article > section:nth-child(8) > div .analysis-right{
	display:flex;
	justify-content:center;
	width:50%;
}
article > section:nth-child(9) > figure{
    text-align:center;
}

article > section:nth-child(10){
    display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
article > section:nth-child(10) aside{
	max-width:1000px;
}
article > section:nth-child(11) figure{
   text-align:center;
}
figcaption{
	font-size:16px;
	font-weight:bold;
}
/*codes*/
pre.code {
    white-space: pre-wrap;
    line-height:0.8;
	width:400px;
}

pre.code::before {
    counter-reset: listing;
}

pre.code code {
    counter-increment: listing;
}

pre.code code::before {
    content: counter(listing) ". ";
    display: inline-block;
    padding-left: auto;
    margin-left: auto;
    text-align: right;
}

/*tables*/
table{
	width:400px;
}
tr{
	height:24px;
}
td{
	font-size: 20px;
}
td.cell-arr{
	width:260px;
}

@media screen and (min-width: 1300px) {
	article > section:nth-child(2),
	article > section:nth-child(4){
		flex-direction:row;
	}
	article > section:nth-child(5) > div{
		flex-direction:row;
   }
   article > section:nth-child(5) > div:nth-child(2) aside{
		flex-direction:row;
   }
   article > section:nth-child(6){
	flex-direction:row;
   }
   article > section:nth-child(10){
	flex-direction:row;
   }
   #fig-1{width:500px;}
   #fig-2,#fig-3{width:700px;}
   #fig-4{width:600px;}
   #fig-5{width:500px;}
   #fig-6{width:600px;}
   #fig-8{width: 400px;}
   #fig-9{width:420px;}
   #fig-10{width:500px;}
   #fig-11{width:700px;}
}